.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* Padding adaptatif pour l'iPhone */
  padding: 10px 20px calc(5px + env(safe-area-inset-bottom)) 20px;
  
  /* Effet Glassmorphism */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */ 
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  
  z-index: 1000;
  box-sizing: border-box;

}

.nav-links {
  display: flex;
  gap: 32px; /* Espace entre les onglets */
}

.nav-links a {
  text-decoration: none !important;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}

.nav-item {
  font-size: 20px;
  filter: grayscale(100%);
  opacity: 0.6;
}

.nav-text {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.nav-item.active {
  color: white;
  transform: translateY(-2px);
}

.nav-item.active .nav-icon {
  filter: grayscale(0%);
  opacity: 1;
}

.nav-links a.active .nav-text {
  color: var(--accent);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}